# --- IGNORE SECRETS ---
.env
.env.local
.env.production
.env.development

# --- IGNORE HEAVY FILES ---
node_modules/
package-lock.json
yarn.lock

# --- IGNORE UPLOADS & BUILDS ---
server/secure_uploads/
client/.next/
client/out/
build/
dist/
.DS_Store